<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flutter App</title>
    <style>
        body{
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0; padding: 0,
        }
        header, footer{
            background: #4CAF50;
            color: white;
            text-align: center;
            padding: 10px
        }
        nav a{
            background: white;
            padding: 10px;
            margin: 20px auto;
            max-width: 80px;
        }
    </style>
</head>
<body>
    <header>
        {{name}}
    </header>
    
</body>
</html>